<main>
    <div class="product">
    {{#each result.docs}}
        <div class="card">
            <h1>{{this.title}}</h1>
            <p>Descripción: {{this.description}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Estado: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Imagen: {{this.thumbnails}}</p>
            <button class="btn-add" data-product-id="{{this._id}}">Add to Cart</button>
        </div>
            {{/each}}
    </div>
    <div>
            {{#if prevLink}}
                <a href={{prevLink}}>
                    Anterior </a>
            {{/if}}

            {{!-- numero de pagina --}}
            &nbsp;
            {{result.page}}
            &nbsp;

            {{#if nextLink}}
                <a href={{nextLink}}>
                Siguiente -> </a>
            {{/if}}
    </div>
    
</main>