<main>
    {{#each product}}
        <div class="product">
            <h1>Nombre del producto: {{this.title}}</h1>
            <p>Descripción: {{this.description}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Estado: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Imagen: {{this.thumbnails}}</p>
        </div>
    {{/each}}
</main>